In [14]:
display(Markdown("# Data Science Tools and Ecosystem"))

# Data Science Tools and Ecosystem

In [16]:
display(Markdown("### In this notebook, Data Science Tools and Ecosystem are summarized."))

### In this notebook, Data Science Tools and Ecosystem are summarized.

In [17]:
display(Markdown("#### Some of the popular languages that Data Scientists use are: python , r , sql "))

#### Some of the popular languages that Data Scientists use are: python , r , sql

In [18]:
display(Markdown("#### Data Science Tools and Ecosystem:ibm wtson, penda, numpy  "))

#### Data Science Tools and Ecosystem:ibm wtson, penda, numpy

In [20]:
import pandas as pd

# Create a DataFrame with one column
data = ['Jupyter Notebook', 'Pandas', 'Scikit-learn']
df = pd.DataFrame(data, columns=['Data Science Tools'])

# Display the DataFrame
display(df)

  Data Science Tools
0   Jupyter Notebook
1             Pandas
2       Scikit-learn

In [24]:
display(Markdown("### Below are a few examples of evaluating arithmetic expressions in Python."))

### Below are a few examples of evaluating arithmetic expressions in Python.

In [25]:
(3*4)+5

17

In [26]:

minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

In [30]:
**Objectives:**
- python, r, sql
- Create and manipulate DataFrames using pandas.
- Perform basic data cleaning and exploration tasks.

SyntaxError: invalid syntax (2447880231.py, line 3)

In [29]:
display(Markdown("## AUTHOR"))
display(Markdown("GUISSE MOHAMED "))

## AUTHOR

GUISSE MOHAMED